<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="0">		
		<link rel="icon" href="{{ SITEURL }}/theme/img/python.png" />
		<title>{% block page_title %}{% endblock %}</title>
		<link href="/theme/css/mega-menu.css" rel="stylesheet">
		<link href="/theme/css/bootstrap.min.css" rel="stylesheet">
		<link href="/theme/css/monokai.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Ubuntu+Mono|Roboto+Slab' rel='stylesheet' type='text/css'>
		{% include "google-analytics.html" %}
		{% include "cookie-consent.html" %}
		<script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js" integrity="sha512-xwrAU5yhWwdTvvmMNheFn9IyuDbl/Kyghz2J3wQRDR8tyNmT8ZIYOd0V3iPYY/g4XdNPy0n/g0NvqGu9f0fPJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/monokai.min.css" integrity="sha512-R6PH4vSzF2Yxjdvb2p2FA06yWul+U0PDDav4b/od/oXf9Iw37zl10plvwOXelrjV2Ai7Eo3vyHeyFUjhXdBCVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/python/python.min.js" integrity="sha512-/mavDpedrvPG/0Grj2Ughxte/fsm42ZmZWWpHz1jCbzd5ECv8CB7PomGtw0NAnhHmE/lkDFkRMupjoohbKNA1Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</head>
	<body onload="brython()">
		{% include 'cogsci-products.html' %}
		<!-- Main container than contains everything -->
		<div class="container cogsci-container osdoc">
			<!-- Top banner -->
			<div class="row visible-lg visible-md">
				<div class="col-md-12 osdoc-banner"></div>
			</div>
			<!--  Top menu, only visible for small screens -->
			<div class="row">
				{% include 'mega-menu.html' %}
			</div>
			<!-- Main row containing both the sidebar and the content-->
			<div class="row">
				<!-- Sidebar, only visible on large screens -->
				<div class="col-md-4 cogsci-sidebar visible-lg visible-md">
					{% include 'social.html' %}
					{% include 'supported-by.html' %}
				</div>
				<!-- Content -->
				<div class="col-md-8 cogsci-content">
					{% block content %}
					{% endblock %}
				</div>
			</div>
			<!-- Footer -->
			<div class="row">
				<div class="col-md-12 cogsci-footer">
					{% include 'footer.html' %}
				</div>
			</div>
		</div>
		<!-- Bootstrap/ jquery JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/theme/js/bootstrap.min.js"></script>
		<script src="/theme/js/osdoc.js"></script>
		<script type="text/python" src="/theme/py/install_exercises.py"></script>
	</body>
</html>
