	<li class="level-1"><a href="https://pythontutorials.eu/get-started">Get started</a></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Basics&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://pythontutorials.eu/basic/syntax">Syntax</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/basic/iterables">Iterables: list, dict, and tuple</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/basic/loops">Loops: for and while</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/basic/functions">Functions</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/basic/modules">Modules</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/basic/exceptions">Exceptions: error handling</a></li>
</ul></li></ul></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Data science&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://pythontutorials.eu/numerical/numpy">NumPy</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/numerical/datamatrix">DataMatrix</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/numerical/plotting">Plotting</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/numerical/statistics">Statistics</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/numerical/time-series">Time series</a></li>
</ul></li></ul></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Deep learning&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://pythontutorials.eu/deep-learning/introduction">Introduction</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/deep-learning/basics">Building a basic neural network</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/deep-learning/image-classification">Classifying images</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/deep-learning/transfer-learning">Transfer learning</a></li>
</ul></li></ul></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Video tutorials&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://pythontutorials.eu/video/object-oriented-programming">Object-oriented programming</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/video/comprehensions">Comprehensions</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/video/decorators">Decorators</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/video/code-quality">Code quality</a></li>
</ul></li></ul></li>