{% extends "base.html" %}
{% block head %}
{{ super() }}
{% if page.description %}
<meta name="description" content="{{page.description}}" />
{% endif %}

{% for tag in page.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}

{% endblock %}

{% block page_title %}
{{ page.title }} // Learn Python
{% endblock %}

{% block title %}
{{ page.title }}
{% endblock title %}

{% block content %}
<section id="content" class="body">
<div class="entry-content">


{% if page.show_title != "false" %}
<h1>{{page.title}}</h1>
{% endif %}


{{ page.content }}

{% if page.next_title %}
<p>You're done with this section!</p>
<a role="button" class="btn btn-primary btn-large btn-block" href="{{ page.next_url }}">
Continue with <b>{{ page.next_title }} >></b>
</a>
{% endif %}

</div><!-- /.entry-content -->

</section>
{% endblock %}
